<%- layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
            </div>
            <label class="form-label" for="decimal">Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input id="price" type="number" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" name="campground[price]" required>
                <span class="input-group-text">.</span>
                <input type="number" class="form-control" id="decimal" name="campground[decimal]" required>    
              </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add campground</button>
            </div>
        </form>
        <a href="/campgrounds">Back to campgrounds</a>
    </div>
</div>
<script>
    (function () {
        "use strict"
    })
    const forms = document.querySelectorAll(".validated-form")
    Array.from(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })()
</script>